body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(240, 228, 252);
    overflow: hidden;
}

.container {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    padding: 6em 1em 0 1em;
    gap: 4em;
    /* z-index: 1; */
}

.heading{
    font-family: "Roboto", sans-serif;
    font-weight: 650;
    font-style: normal;
    font-size: 3.4em;
    letter-spacing: 0.4em;
    word-spacing: 1.5em;
    line-height: 1.2em;
    color: white;      
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
    text-align: center;
    display: inline-block;
    z-index: 1;
}

label{
  padding: relative;
  align-self: center;
  justify-self: center;
  font-size: 2.3vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 530;
}
.input1{
  background: rgba(0, 0, 0, 0.075);
  border: none;
  border-radius: 0.3em;
  height: 1.95em;
  width: 12.5em;
  align-self: center;
  justify-self: center;
  font-size: 0.83em;
  padding: 1px 10px 1px 10px;
  margin: 1.4em 0 1.1em 0;
}
.input1:focus {
  outline: none;
  text-decoration: none;
  box-shadow: inset 0 0 0 1px #d47cf477; /* Red border when focused */
  /* box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); Optional shadow */
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.input2{
  background: rgba(0, 0, 0, 0.075);
  border: none;
  border-radius: 0.5em;
  height: 2em;
  width: 5.4em;
  align-self: center;
  justify-self: center;
  font-size: 0.83em;
  color: rgba(59, 39, 67, 0.803);
}

.input2:hover{
  background: rgba(0, 0, 0, 0.02);
  border: none;
  border-radius: 0.5em;
  height: 2em;
  width: 5.4em;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  font-size: 0.84em;
  font-weight: 100;
  color: rgba(59, 39, 67, 1);
  transform: scale(1.01);
}

.cardI {
    /* margin-top: 15em; */
    position: relative;
    top: -2.8em;
    padding-top: 3em;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(40, 12, 103, 0.5) 0px 5px 15px;
    background-color: rgb(211, 195, 233);
    min-height: 12em;
    max-height: 12em;
    width: 16em;
    border-radius: 0.8rem;
    z-index: 1;
}

.designs {
    background-color: transparent;
    overflow: visible;
    position: absolute;
    height: 100%;
    width: 100%;
    position: fixed;
}
.box1 {
    position: fixed;
    top: 14em;
    left: 22em;
    background-color: rgb(228, 218, 241);
    /* position: relative; */
    height: 30%;
    width: 30%;
    border-radius: 2.6em;
    margin: 0;
    rotate: -30deg;
  }
  .box2 {
    background-color: rgb(228, 218, 241);
    position: fixed;
    top: 24.8em;
    left: 38em;
    height: 30%;
    width: 30%;
    border-radius: 2.6em;
    margin: 0;
    rotate: -30deg;
  }
  .bubble1 {
    position: fixed;
    top: 8em;
    left: 20em;
    background-color: rgb(228, 218, 241);
    height: 2em;
    width: 2em;
    border-radius: 100%;
  }
  .bubble2 {
    position: fixed;
    bottom: 19em;
    left: 9em;
    background-color: rgb(216, 204, 232);
    height: 2em;
    width: 2em;
    border-radius: 100%;
  }
  .bubble3 {
    position: fixed;
    bottom: 10em;
    left: 36em;
    background-color: rgb(219, 202, 241);
    height: 2em;
    width: 2em;
    border-radius: 100%;
  }
  .bubble4 {
    position: fixed;
    top: 13em;
    right: 21em;
    background-color: rgb(210, 197, 227);
    height: 2em;
    width: 2em;
    border-radius: 100%;
  }
  .bubble5 {
    position: fixed;
    bottom: 10.3em;
    right: 13em;
    background-color: rgb(220, 200, 246);
    height: 2em;
    width: 2em;
    border-radius: 100%;
  }
  .shadow {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgb(142, 57, 188);
    background: linear-gradient(
      0deg,
      rgba(142, 57, 188, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 100%;
    height: 45%;
  }
  .shadow2 {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(142, 57, 188);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(142, 57, 188, 0.16) 100%
    );
    width: 100%;
    height: 45%;
  }