body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(240, 228, 252);
}
.container {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}
.profile {
    position: relative;
    top: 2em;
    background-color: transparent;
    height: 9em;
    width: 9em;
    border-radius: 2em;
    margin: 0;
    z-index: 2;
    overflow: hidden;
}
.card {
    /* margin-top: 15em; */
    position: relative;
    top: -2.8em;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(103, 54, 218, 0.5) 0px 5px 15px;
    background-color: rgb(37, 23, 55);
    height: 14em;
    width: 16em;
    border-radius: 0.8rem;
    z-index: 1;
}
#userName {
    font-size: 1.7em;
    margin: none;
    margin-top: 2.5em;
    padding: none;
    font-weight: 200;
    color: #ffffff;
}
#image {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: none;
    padding: none;
}
#id {
    font-size: 0.9em;
    color: #fff;
    font-weight: 0.1;
}

.designs {
    background-color: transparent;
    overflow: visible;
    position: absolute;
    height: 100%;
    width: 100%;
    position: fixed;
}
.box1 {
    position: fixed;
    top: 14em;
    left: 22em;
    background-color: rgb(228, 218, 241);
    position: relative;
    height: 30%;
    width: 30%;
    border-radius: 2.6em;
    margin: 0;
    rotate: -30deg;
  }
  .box2 {
    background-color: rgb(228, 218, 241);
    position: fixed;
    top: 24.8em;
    left: 38em;
    height: 30%;
    width: 30%;
    border-radius: 2.6em;
    margin: 0;
    rotate: -30deg;
  }
  .bubble1 {
    position: fixed;
    top: 8em;
    left: 20em;
    background-color: rgb(228, 218, 241);
    height: 2em;
    width: 2em;
    border-radius: 100%;
  }
  .bubble2 {
    position: fixed;
    bottom: 19em;
    left: 9em;
    background-color: rgb(216, 204, 232);
    height: 2em;
    width: 2em;
    border-radius: 100%;
  }
  .bubble3 {
    position: fixed;
    bottom: 10em;
    left: 36em;
    background-color: rgb(219, 202, 241);
    height: 2em;
    width: 2em;
    border-radius: 100%;
  }
  .bubble4 {
    position: fixed;
    top: 13em;
    right: 21em;
    background-color: rgb(210, 197, 227);
    height: 2em;
    width: 2em;
    border-radius: 100%;
  }
  .bubble5 {
    position: fixed;
    bottom: 10.3em;
    right: 13em;
    background-color: rgb(220, 200, 246);
    height: 2em;
    width: 2em;
    border-radius: 100%;
  }
  .shadow {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgb(142, 57, 188);
    background: linear-gradient(
      0deg,
      rgba(142, 57, 188, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 100%;
    height: 45%;
  }
  .shadow2 {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(142, 57, 188);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(142, 57, 188, 0.16) 100%
    );
    width: 100%;
    height: 45%;
  }
  #githubLink {
    text-decoration: none;
  }