*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(233, 233, 233);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.signUp{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.04);
    height: 30em;
    width: 22em;
}
.input{
    padding-left: 5.1%;
    font-size: 15px;
    position: absolute;
    width: 68%;
    height:6.5%;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}
.label{
    position: absolute;
    left: 20%;
    color: rgba(0, 0, 0, 0.8);
    transition: 1ms;
}
.input:valid{
    border: none;
}
.input:focus + .label{
    color: rgba(0, 0, 0, 0.3);
    border: none;
    scale: 0.92;
}
#head{
    position: absolute;
    top: 10%;
    font-size: 6em;
}
#fname{
    top: 31%;
    z-index: 999;
}
#fnameBox{
    top: 30%;
}
#lname{
    top: 41%;
    z-index: 999;
}
#lnameBox{
    top: 40%;
}
#username{
    top: 51%;
    z-index: 999;
}
#usernameBox{
    top: 50%;
}
#pass{
    top: 61%;
    z-index: 999;
}
#passBox{
    top: 60%;
}
#create{
    position: absolute;
    top: 70%;
}
#login{
    position: absolute;
    top: 80%;
}